@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lora-regular";
  src: url("../public/fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: "lora-bold";
  src: url("../public/fonts/Lora-Bold.ttf");
}
@font-face {
  font-family: "lora-bolditalic";
  src: url("../public/fonts/Lora-BoldItalic.ttf");
}
@font-face {
  font-family: "lora-italic";
  src: url("../public/fonts/Lora-Italic.ttf");
}

body {
  margin: 0;
  background-color: #228B22;
  font-family: -apple-system, BlinkMacSystemFont, 'lora-regular', 'lora-bold', 'lora-italic',
    'lora-bolditalic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
